* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tabuadas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40vh;
    gap: 10px;

}