* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: Arial;
}

.tabuadas {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: fixed;
    top: 2%;
    left: 2%;
}

.tabuadas .content {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.tabuadas .content p {
    font-size: large;
}

.tabuadas .content .cor {
    width: 2.5vw;
    height: 6vh;
    border-radius: 50%;
}

.infos {
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
    margin-top: 4%;
    gap: 10px;
}

.infos input {
    width: 15vw;
    height: 5vh;
    padding: 5px;
}

.infos button {
    width: 8vw;
    height: 5vh;
    padding: 5px;
    cursor: pointer;
}

.resultado {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.resultado div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4vw;
    height: 9vh;
    border-radius: 50%;
}

.resultado input {
    cursor: pointer;
    width: 4vw;
    height: 4vh;
}

.button {
    display: flex;
    justify-content: center;
    margin: 8vh 0 0 0;
}

.button button {
    padding: 5px;
    height: 8vh;
    width: 10vw;
    font-size: larger;
    cursor: pointer;
}