* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: white;
}

/* id=# class=. */

#time {
    text-align: center;
    margin-top: 40px;
    font-family: system-ui;
    font-size: large;
}

#titulo {
    text-align: center;
    margin-top: 20px;
    font-family: Arial;
}

#cxbtn {
    text-align: center;
}

#btn {
    font-family: system-ui;
    font-size: medium;
    background: transparent;
}