* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
}

header {
    background-color: #ff6600;
    color: #fff;
    padding: 20px;
}

h1 {
    font-size: 24px;
}

main {
    display: flex;
    align-items: center;
    height: 70vh;
}

.container {
    margin: 15px auto;
    min-width: 600px;
    background-color: #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#litros {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#tipo {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #ff6600;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ff4500;
}

#preco {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.father {
    margin: 15px auto;
    display: flex;
    justify-content: center;
}

.style {
    background-color: #ff6600;
    max-height: 50vh;
    min-width: 20vw;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.center {
    justify-content: center;
    display: flex;
}

#detailsOne {
    background-color: #ff0000;
    height: 4vh;
    width: 15vw;
    border-radius: 5px;
}

#bomba {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    border: 1px solid #ff4500;
    border-radius: 5px;
}

#detailsTwo {
    background-color: #ff8800;
    height: 10vh;
    width: 10vw;
    margin-bottom: 50px;
    margin-top: 25px;
    border-radius: 5px;
}

#detailsThree {
    background-color: #000000;
    height: 10vh;
    border-radius: 5px;
    width: 15vw;
}