body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
    margin: 10%;
}

table,
th,
td {
    border: 2px solid black;
}

td {
    width: 100px;
    height: 100px;
}

hr {
    width: 0;
    height: 350px;
    border: 2px solid black;
    margin: 0;
}