* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

/* id=# class=. */
#titulo {
    font-size: 50px;
    color: black;
    font-family: system-ui;
    text-align: center;
    margin-top: 10px;
}

.botao {
    font-family: Arial;
    height: 100px;
    width: 200px;
    margin-left: 550px;
    font-size: x-large;
    border-radius: 5px;
    border: 1px solid lightblue;
    background-color: white;
}

.botao:hover {
    font-family: Arial;
    height: 100px;
    width: 200px;
    margin-left: 550px;
    font-size: x-large;
    border-radius: 5px;
    background-color: lightblue;
}
