* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: black;
}

/* id=# class=. */
#titulo {
    font-size: 50px;
    color: white;
    font-family: system-ui;
    text-align: center;
    margin-top: 10px;
}

#botao{
    font-family: Arial;
    height: 100px;
    width: 200px;
    margin-left: 550px;
    margin-top: 250px;
    font-size:x-large;
    border-radius: 10px;
    border: 2px solid red;

}

b{
    color: red
}