* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: white;
}

/* id=# class=. */

#botao {
    height: 10vh;
    width: 20vh;
    text-align: center;

}

#div1 {
    text-align: center;
    margin-top: 290px;
}

#titulo {
    text-align: center;
    font-family: Arial;
    margin-top: -50px;
}

